In [1]:
import pandas as pd

In [2]:
# Creating a dataframe
df = pd.DataFrame({'Sports': ['Football', 'Cricket', 'Baseball', 'Basketball',
                'Tennis', 'Table-tennis', 'Archery', 'Swimming', 'Boxing'], 
                'Player': ["Messi", "Afridi", "Chad", "Johnny", "Federer",
                 "Yong", "Mark", "Phelps", "Khan"],
                 'Country': ["Argentina", "Pakistan", "England", "England", "Switzerland",
                 "China", "China", "USA", "Pakistan" ],
                 'Rank': [1, 9, 7, 12, 1, 2, 11, 1, 1] })

In [3]:
# Finding unique countries
print("UniqueCountries",':',df["Country"].unique())

UniqueCountries : ['Argentina' 'Pakistan' 'England' 'Switzerland' 'China' 'USA']

In [4]:
# Finding nunique countries
print("nUniqueCountries",':',df["Country"].nunique())

nUniqueCountries : 6

In [5]:
# Finding unique rankings
print("UniqueRanking",':',df["Rank"].unique())

UniqueRanking : [ 1  9  7 12  2 11]

In [7]:
#Finding nunique rankings
print("nUniqueRanking",':',df["Rank"].nunique())

nUniqueRanking : 6

In [8]:
import pandas as pd

In [15]:
data = {'colors':["Blue","Green","Red","YelloW","White","Blue","Green","Red"]}
df = pd.DataFrame(data)
df

   colors
0    Blue
1   Green
2     Red
3  YelloW
4   White
5    Blue
6   Green
7     Red

In [16]:
df.nunique()

colors    5
dtype: int64

In [17]:
df['colors'].unique()

array(['Blue', 'Green', 'Red', 'YelloW', 'White'], dtype=object)